<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Textism</title>
    <link rel="shortcut icon" href="/images/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="{{csspath}}" />
  </head>
  <body>
    <header class="head">
      <div class="logo-container">
        <a href="/">
          <img src="/images/Logo.png" alt="Textism Logo" class="logo-img" />
        </a>
      </div>
      <div class="site-name-container">
        <a href="/">
          <p class="site-name">Textism</p>
        </a>
      </div>
      <div class="theme-container">
        <img src="/images/Moon.png" alt="site-theme" class="theme" />
      </div>
    </header>
    {{{body}}}

    <script src="/js/theme.js"></script>
  </body>
</html>