<main>
  <div class="main-content">
    <div class="first-main-section-container">
      <img
        src="/images/kong.gif"
        alt="visual representation"
        class="first-main-section"
      />
    </div>

    <div class="second-main-section-container">
      <div class="title-animation">
        <p class="company-title"></p>
      </div>
      <p class="tagline">
        A Simple n Fast way to share &nbsp;
        <span class="text-color">text</span>
        &nbsp; with Others<span class="speed-gif"><img
            src="/images/pikachu-running.gif"
            alt=""
          /></span>
      </p>
      <a href="/sender" target="_self">
        <div class="sender-section hover-rainbow-border">
          ✍️ Type and Share Text...
        </div>
      </a>

      <div class="receiver-code">
        <div class="label">Enter Code</div>
        <div class="passcode">
          <input id="code-inp" type="text" name="code" class="code" />
        </div>
        <button id="go-btn" disabled>
          Go
        </button>
      </div>

      <div class="interactive-image-container">
        <img
          src="/images/pokemon-shrempemon.gif"
          alt="visual representation image"
          class="interactive-image"
        />
      </div>
    </div>

    <div class="third-main-section">
      <img
        src="/images/Typing-mon.gif"
        alt="user-pic"
        class="visualisation-img"
      />
    </div>
  </div>

  <div class="features">
    <div class="features-title">FEATURES</div>
    <div class="key-features-title">Key Features</div>
    <div class="features-info">
      Experience the simplicity and security of our text sharing platform
    </div>
  </div>

  <div class="features-highlights">
    <div class="feature-highlight-box">
      <div class="icon-container">
        <img src="/images/Lock.png" alt="Lock Icon" class="feature-icon" />
      </div>
      <div class="feature-info-container">
        <p class="title">Secure Text Sharing</p>
        <p class="feature-info">Share text securely with a unique pass-code.</p>
      </div>
    </div>

    <div class="feature-highlight-box">
      <div class="icon-container">
        <img
          src="/images/Lightning.png"
          alt="Lightning Icon"
          class="feature-icon"
        />
      </div>
      <div class="feature-info-container">
        <p class="title">Fast And Easy Sharing Process</p>
        <p class="feature-info">
          Simple steps to share and access shared text.
        </p>
      </div>
    </div>

    <div class="feature-highlight-box">
      <div class="icon-container">
        <img src="/images/Copy.png" alt="copy Icon" class="feature-icon" />
      </div>
      <div class="feature-info-container">
        <p class="title">Copy Shared Text</p>
        <p class="feature-info">
          Easily copy the shared text with just one click.
        </p>
      </div>
    </div>

    <div class="feature-highlight-box">
      <div class="icon-container">
        <img src="/images/Cancel.png" alt="Forbid Icon" class="feature-icon" />
      </div>
      <div class="feature-info-container">
        <p class="title">No Registration Required</p>
        <p class="feature-info">
          No need to sign up or log in to share or access text.
        </p>
      </div>
    </div>
  </div>
</main>

<footer class="bottom-div">
  <p class="footer-text">&#169; 2024 Textism, All Rights Reserved.</p>
</footer>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="/js/index.js"></script>